body{
    background-color: black;
}

h1{
    font-size: 30px;
    color: lightblue;
}
.italic{
    font-size: 25px;
    color: white;
}
.evil{
    font-size: 25px;
    color: crimson;
}
.link{
    text-transform: uppercase;
}

p{
    color: white;
}

a{
    color: lightblue;
}
i{
    color: lightblue;
}